@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');

body {
  font-weight: normal;
  overflow-x: hidden;
  color: #7b7b7b;
  font-size: 14px;
  background-color: #f5f4f5;
  -webkit-font-smoothing: antialiased;
  font-family: 'Varela Round', sans-serif;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Varela Round', sans-serif;
  font-weight: normal;
}

.tr-list {
  margin: 0;
  padding: 0;
  list-style: none;
  padding-bottom: 30px
}

.btn {
  color: #fff;
  padding: 8px 20px 5px;
  border-radius: 30px;
  font-size: 14px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.btn.btn-primary {
  padding: 8px 20px 5px;
  text-transform: uppercase;
  background-color: #008def;
  border-color: #008def;
}

.btn i {
  float: left;
  font-size: 20px;
  margin-right: 10px;
}

.btn.button-send {
  margin-right: 10px;
  background-color: #8322cb;
  border-color: #8322cb;
}

.btn.button-send:hover {
  color: #8322cb;
}

.btn:before {
  position: absolute;
  content: "";
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
}

.btn:hover:before {
  right: 0;
}

.btn:hover {
  color: #008def;
}

.btn:focus {
  border-color: #008def;
}

.tr-users {
  color: #fff;
  padding: 100px 0;
  position: relative;
  /* background-image: url(../images/bg/user-bg.jpg); */
  background-color: #c9c9c9;
  z-index: 1;
}

.tr-users:before,
.tr-users:after {
  position: absolute;
  content: "";
  top: 0;
  width: 50%;
  height: 100%;
  z-index: -1;
}

.tr-users:before {
  left: 0;
  background-color: rgba(247, 148, 29, 0.92);
}

.tr-users:after {
  right: 0;
  background-color: rgba(242, 101, 34, 0.92);
}

.tr-users img {
  display: inline-block;
}

.tr-users span {
  display: block;
  margin-bottom: 30px;
}

.tr-users .btn {
  font-size: 12px;
  padding: 7px 30px 5px;
}

.tr-users .job-find .btn.btn-primary {
  border-color: #232a2f;
  background-color: #232a2f;
}

.tr-users .job-find .btn:hover {
  border-color: #fff;
}

.tr-users .for-employers .btn.btn-primary {
  color: #f26522;
  border-color: #fff;
  background-color: #fff;
}

.tr-users .for-employers .btn.btn-primary:before {
  background-color: #232a2f;
}

.tr-users .for-employers .btn.btn-primary:hover {
  color: #fff;
  border-color: #232a2f;
}

.fun-fact {
  background-color: #fff;
  border-radius: 4px;
  color: #a0a0a0;
  font-size: 14px;
  line-height: 17px;
  padding: 50px;
  margin-bottom: 20px;
}

.fun-fact-content {
  margin-top: 20px;
}

.fun-fact img {
  display: inline-block;
}

.fun-fact h1 {
  font-size: 30px;
  color: #3d464d;
  margin: 20px 0 0;
}

.fun-fact span {
  font-size: 16px;
  color: #3d464d;
  margin: 15px 0;
  display: block;
}

.tr-download-app {
  background: #1b7ed1;
  position: relative;
  z-index: 1;
  padding: 50px;
}

.tr-download-app.section-before:before {
  background-color: rgba(0, 141, 239, 0.8);
}

.tr-download-app h1 {
  font-size: 26px;
  color: #fff;
  text-align: center;
  margin: 15px 0 45px;
  text-transform: capitalize;
}

.tr-download-app h2 {
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 50px;
}

.app-content {
  padding: 0 80px;
}

.download-app a {
  border: 1px solid #fff;
  padding: 10px;
  border-radius: 5px;
  display: block;
  overflow: hidden;
  min-height: 75px;
  color: #fff;
  font-size: 16px;
  margin-bottom: 20px;
}

.download-image {
  display: inline-block;
  margin-right: 15px;
}

.download-image img {
  display: inline-block;
  margin-top: -20px;
}

.download-info {
  display: inline-block;
  text-align: left;
}

.download-app strong {
  font-size: 25px;
  display: block;
  font-weight: normal;
  line-height: 20px;
}

.download-app a:hover,
.download-app a:focus {
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  border-radius: 5px;
}

.job-item {
  background-color: #fff;
  padding: 50px;
  margin: 20px;
}

.job-tab .nav-tabs {
  margin-bottom: 60px;
  border-bottom: 0;
}

.job-tab .nav-tabs>li {
  float: none;
  display: inline;
}

.job-tab .nav-tabs li {
  margin-right: 15px;
}

.job-tab .nav-tabs li:last-child {
  margin-right: 0;
}

.job-tab .nav-tabs {
  position: relative;
  z-index: 1;
  display: inline-block;
}

.job-tab .nav-tabs:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #fff;
  z-index: -1;
}

.job-info .tr-title {
  margin-bottom: 15px;
}

.tr-title {
  color: #000;
  display: block;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}


.job-tab .nav-tabs>li a {
  display: inline-block;
  background-color: #fff;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  color: #000;
  padding: 5px 30px;
}

.job-tab .nav-tabs>li>a.active,
.job-tab .nav-tabs>li a.active>:focus,
.job-tab .nav-tabs>li>a.active:hover,
.job-tab .nav-tabs>li>a:hover {
  border: none;
  background-color: #008def;
  color: #fff;
}

.job-item {
  border-radius: 3px;
  position: relative;
  margin-bottom: 30px;
  padding: 20px;
  z-index: 1;
}

.job-item .btn.btn-primary {
  text-transform: capitalize;
}

.job-item .job-info {
  font-size: 14px;
  color: #000;
  overflow: hidden;
  padding: 40px 25px 20px;
}

.job-info .company-logo {
  margin-bottom: 30px;
}

.job-info .tr-title {
  margin-bottom: 15px;
}

.job-info .tr-title span {
  font-size: 14px;
  display: block;
}

.job-info .tr-title a {
  color: #000;
}

.job-info .tr-title a:hover {
  color: #008def;
}

.job-info ul {
  margin-bottom: 30px;
}

.job-meta li,
.job-meta li a {
  color: #646464;
}

.job-meta li a:hover {
  color: #008def;
}

.job-meta li {
  font-size: 12px;
  margin-bottom: 10px;
}

.job-meta li span i {
  color: #000;
}

.job-meta li i {
  margin-right: 15px;
}

.job-item .time {
  position: relative;
}

.job-item .time:after {
  position: absolute;
  content: "";
  bottom: 35px;
  left: -50px;
  width: 150%;
  height: 1px;
  background-color: #f5f4f5;
  z-index: -1;
}

/* .job-item:hover .time,
.job-item:hover .time:after {
  opacity: 0;
} */

.job-item .time a span {
  font-size: 12px;
  color: #bebebe;
  line-height: 25px;
}

.job-item .btn.btn-primary,
.role .btn.btn-primary,
.job-item .time a span {
  padding: 5px 10px;
  border-radius: 4px;
  line-height: 10px;
  font-size: 12px;
}

.job-item .time a span {
  color: #fff;
  background-color: #f1592a;
  border-color: #f1592a;
}

.job-item .time a span.part-time {
  background-color: #00aeef;
  border-color: #00aeef;
}

.job-item .time a span.freelance {
  background-color: #92278f;
  border-color: #92278f;
}

.job-item .item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: #008def;
  color: #fff;
  opacity: 0;
  -webkit-transition: all 800ms;
  -moz-transition: all 800ms;
  -ms-transition: all 800ms;
  -o-transition: all 800ms;
  transition: all 800ms;
}

.job-item:hover .item-overlay {
  opacity: 1;
}

.item-overlay .job-info {
  padding: 45px 25px 40px;
  overflow: hidden;
}

.item-overlay .btn.btn-primary {
  background-color: #007bd4;
  border-color: #007bd4;
  margin-bottom: 10px;
}

.item-overlay .job-info,
.item-overlay .job-info ul li,
.item-overlay .job-info ul li i,
.item-overlay .job-info .tr-title a {
  color: #fff;
}

.job-social {
  margin-top: 35px;
}

.job-social li {
  float: left;
}

.job-social li+li {
  margin-left: 15px;
}

.job-social li a i {
  margin-right: 0;
  font-size: 14px;
}

.job-social li a {
  width: 35px;
  height: 35px;
  text-align: center;
  display: block;
  background-color: #007bd4;
  line-height: 35px;
  border-radius: 100%;
  border: 1px solid #007bd4;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.job-social li:last-child a {
  background-color: #fff;
}

.job-social li:last-child a i {
  color: #008def;
}

.job-social li a:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  border-radius: 100%;
  background-color: #008def;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.job-social li a:hover:before {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  padding: 5px;
}

.job-social li a:hover {
  border-color: #fff;
}

.job-social li a:hover i {
  color: #fff;
}

.tr-breadcrumb {
  color: #fff;
  padding: 100px 0;
  overflow: hidden;
  background: linear-gradient(rgba(0, 0, 0, 1.5), rgba(0, 0, 0, .5));
  opacity: 0.8;
}

.page-title h1 {
  font-size: 48px;
  margin: 0;
  text-transform: capitalize;
}

.tr-breadcrumb .job-meta {
  margin-top: 20px;
}

.breadcrumb {
  padding: 0;
  border: 0;
  font-size: 18px;
  margin-bottom: 0;
  display: block;
  background-color: transparent;
}

.breadcrumb>li {
  display: inline-block;
}

.breadcrumb>li+li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}

.breadcrumb li.active,
.breadcrumb li a,
.breadcrumb>li+li:before,
.tr-breadcrumb .job-meta li,
.tr-breadcrumb .job-meta li a {
  color: #fff;
}

.breadcrumb-logo img,
.user-image img {
  width: 100%;
  height: 100%;
  display: inline-block;
}

.user-image,
.breadcrumb-logo {
  /* width: 130px; */
  /* height: 130px; */
  overflow: hidden;
  display: inline-block;
  /* border-radius: 100%; */
  margin-bottom: 30px;
}

.user-image {
  border: 8px solid #fff;
}

.tr-breadcrumb .job-meta li {
  font-size: 14px;
  display: inline-block;
  margin-right: 15px;
}

.tr-breadcrumb .job-meta li:last-child {
  margin-right: 0;
}

.breadcrumb-social {
  margin-top: 35px;
}

.breadcrumb-social li {
  display: inline-block;
  font-size: 18px;
  margin-right: 10px;
}

.breadcrumb-social li:last-child {
  margin-right: -0px;
}

.breadcrumb-social li a i {
  color: #fff;
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 100%;
}

.breadcrumb-social li a {
  display: block;
  position: relative;
  z-index: 9;
}

.breadcrumb-social span,
.button-share span {
  color: #2d373d;
  font-size: 12px;
  display: inline-block;
  padding: 5px 10px;
  background-color: #f5f5f6;
  border-radius: 30px;
  position: absolute;
  bottom: -70px;
  left: 50%;
  min-width: 90px;
  opacity: 0;
  visibility: hidden;
  z-index: 99999999999;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

.breadcrumb-social span:after,
.button-share span:after {
  content: '';
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -7px;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 10px solid #f5f5f6;
}

.breadcrumb-social li a:hover span {
  opacity: 1;
  visibility: visible;
  bottom: -40px;
}

.social-icon-bg i.fa-facebook {
  background-color: #344f88;
}

.social-icon-bg i.fa-twitter {
  background-color: #2696cf;
}

.social-icon-bg i.fa-google-plus {
  background-color: #d34132;
}

.social-icon-bg i.fa-linkedin {
  background-color: #146ba4;
}

.social-icon-bg i.fa-dribbble {
  background-color: #d74279;
}

.social-icon-bg i.fa-behance {
  background-color: #050607;
}

.social-icon-bg i.fa-globe {
  background-color: #e96324;
}


.tr-breadcrumb .buttons {
  margin-top: 50px;
}

.tr-breadcrumb .buttons a {
  margin-right: 15px;
}

.tr-breadcrumb .buttons a:last-child {
  margin-right: 0;
}

.btn.button-bookmark {
  border-color: #89c040;
  background-color: #89c040;
}

.btn.button-bookmark:hover {
  color: #89c040;
}

.btn.button-share:before {
  display: none;
}

.btn.button-share {
  overflow: visible;
  border-color: #25292e;
  background-color: #25292e;
}

.btn.button-share:hover {
  color: #25292e;
  background-color: #fff;
}

.button-share span:after {
  border-bottom: 10px solid #fff;
}

.button-share span {
  padding: 10px 15px;
  background-color: #fff;
  text-transform: capitalize;
}

.button-share span a:hover i.fa-facebook {
  color: #344f88;
}

.button-share span a:hover i.fa-twitter {
  color: #2696cf;
}

.button-share span a:hover i.fa-google-plus {
  color: #d34132;
}

.button-share span {
  padding: 5px 15px;
}

.button-share:hover span {
  opacity: 1;
  visibility: visible;
  bottom: -47px;
  line-height: 0;
}

.btn.button-share a {
  margin: 0;
  color: #2d373d;
  padding: 5px;
  display: inline-block;
}

.btn.button-share span a i {
  margin: 0;
  font-size: 14px;
}

.job-summary {
  font-size: 14px;
  color: #272727;
  border-radius: 4px;
  line-height: 22px;
}

.job-summary span {
  display: block;
  font-size: 18px;
  margin: 50px 0 15px;
}

.job-summary span:first-of-type {
  margin-top: 0;
}

.job-summary ul li {
  line-height: 30px;
}

.job-details {
  padding-top: 60px;
}

.job-details .tr-cta {
  margin-bottom: 30px;
}

.job-details .tr-job-posted .tr-title {
  display: block;
  margin-bottom: 25px;
}

.job-details .widget_title {
  font-size: 18px;
}

.job-tabs {
  float: right;
  border: none;
}

.job-tabs>li {
  float: left;
  margin-right: 20px;
}

.job-tabs>li>a {
  padding: 0;
  color: #d4d3d4;
  border: none;
}

.job-tabs>li a:hover,
.job-tabs>li a:focus,
.job-tabs>li.active>a,
.job-tabs>li.active>a:focus,
.job-tabs>li.active>a:hover {
  border: none;
  color: #000;
  background-color: transparent;
}

.job-tabs>li:last-child {
  margin-right: 0;
}

.job-tabs li {
  padding: 0;
  font-size: 20px;
  cursor: pointer;
}

.job-tabs li:first-child {
  font-size: 14px;
  cursor: inherit;
  margin-top: 2px;
}

.job-topbar {
  color: #000;
  overflow: hidden;
  margin-bottom: 15px;
}

.list-menu {
  border-radius: 4px;
  margin-bottom: 30px;
}

.list-menu .dropdown-menu {
  min-width: 100%;
}

.list-menu>ul>li {
  float: left;
  width: 20%;
  color: #acacac;
  font-size: 14px;
  padding: 25px 15px;
  background-color: #fff;
  border-right: 1px solid #f5f4f5;
}

.list-menu li a {
  color: #000;
}

.list-menu li i {
  margin-left: 5px;
}

.list-menu li:last-child {
  border-right: 0;
}

.widget {
  color: #a9a9a9;
  padding: 35px 25px;
  border-radius: 4px;
  background-color: #fff;
  margin-bottom: 30px;
}

.widget ul li {
  font-size: 14px;
  padding: 5px 0;
}

.widget ul li a {
  color: #a9a9a9;
}

.widget ul li a:hover {
  color: #008def;
}

.widget_title {
  color: #272727;
  margin: 0 0 20px;
}

.widget span {
  color: #707070;
  font-size: 16px;
  margin-bottom: 5px;
  line-height: 16px;
}

.widget.short-info i {
  color: #0389e7;
  font-size: 18px;
  margin-right: 15px;
}

.widget.short-info li span {
  display: block;
}

.widget.cmpany-info>span {
  display: block;
  margin-bottom: 10px;
}

.widget.cmpany-info ul {}

.widget.cmpany-info ul li {
  line-height: 20px;
}

.widget.cmpany-info ul li span {
  font-size: 14px;
}

.widget-social {
  overflow: hidden;
  margin-top: 5px;
}

.widget-social ul li {
  float: left;
  font-size: 18px;
  margin-right: 20px;
}

.widget-social ul li:last-child {
  margin-right: 0;
}

.widget-social .fa-facebook-square {
  color: #0072bc;
}

.widget-social .fa-twitter-square {
  color: #00aeef;
}

.widget-social .fa-google-plus-square {
  color: #eb434a;
}

.widget-social .fa-linkedin-square {
  color: #448ccb;
}


.footer-top {
  background-color: #fff;
  padding: 50px;
}

.footer-widget h3 {
  font-size: 20px;
  color: #000;
  margin-bottom: 35px;
}

.footer-widget li {
  margin-bottom: 20px;
}

.footer,
.footer a {
  color: #858585;
}

.footer a:hover {
  color: #008def;
}

.footer-bottom {
  padding: 25px 0 15px;
}

.footer .copyright {
  float: left;
}

.footer-social li {
  float: left;
}

.footer-social li+li {
  margin-left: 20px;
}

.footer-social li a {
  font-size: 16px;
  color: #d1cfd1;
}

.footer-widget .form-control {
  margin: 30px 0 20px;
  background-color: transparent;
}

.footer-widget .btn {
  padding: 5px 20px;
  text-transform: capitalize;
}

@media (max-width: 575px) {

  .navbar-expand-lg>.container,
  .navbar-expand-lg>.container-fluid {
    margin-left: 15px;
    margin-right: 15px;
  }

  .banner-form .dropdown-menu {
    left: -10px !important;
  }

  .job-tab .nav-tabs::after {
    display: none;
  }

  .tr-users h1 {
    font-size: 30px;
  }
}

@media (max-width: 767px) {

  .tr-header .navbar-right {
    padding: 0;
    width: 100%;
  }

  .tr-header .btn.btn-primary {
    position: absolute;
    top: 8px;
    right: 70px;
    padding: 5px 15px 4px;
  }

  .navbar-right .dropdown {
    float: left;
    padding: 0;
    margin-right: 10px;
  }

  .sign-in {
    float: left;
    margin-right: 0;
  }

  .navbar-right .dropdown-menu {
    top: 40px;
  }

  .navbar-toggle {
    margin: 15px;
  }

  .btn {
    padding: 8px 20px 6px;
    font-size: 12px;
  }
}